{% extends 'base.html' %}
{% block content %}
<h4 class="mb-4">Generate Random Address</h4>
<form method="POST" class="d-flex align-items-end">
    <div class="me-2">
        <label for="state" class="form-label">State:</label>
        <select id="state" name="state" class="form-select form-select-sm">
            <option value="AL" {% if state=='AL' %}selected{% endif %}>Alabama</option>
            <option value="AK" {% if state=='AK' %}selected{% endif %}>Alaska</option>
            <option value="AZ" {% if state=='AZ' %}selected{% endif %}>Arizona</option>
            <option value="AR" {% if state=='AR' %}selected{% endif %}>Arkansas</option>
            <option value="CA" {% if state=='CA' %}selected{% endif %}>California</option>
            <option value="CO" {% if state=='CO' %}selected{% endif %}>Colorado</option>
            <option value="CT" {% if state=='CT' %}selected{% endif %}>Connecticut</option>
            <option value="DE" {% if state=='DE' %}selected{% endif %}>Delaware</option>
            <option value="FL" {% if state=='FL' %}selected{% endif %}>Florida</option>
            <option value="GA" {% if state=='GA' %}selected{% endif %}>Georgia</option>
            <option value="HI" {% if state=='HI' %}selected{% endif %}>Hawaii</option>
            <option value="ID" {% if state=='ID' %}selected{% endif %}>Idaho</option>
            <option value="IL" {% if state=='IL' %}selected{% endif %}>Illinois</option>
            <option value="IN" {% if state=='IN' %}selected{% endif %}>Indiana</option>
            <option value="IA" {% if state=='IA' %}selected{% endif %}>Iowa</option>
            <option value="KS" {% if state=='KS' %}selected{% endif %}>Kansas</option>
            <option value="KY" {% if state=='KY' %}selected{% endif %}>Kentucky</option>
            <option value="LA" {% if state=='LA' %}selected{% endif %}>Louisiana</option>
            <option value="ME" {% if state=='ME' %}selected{% endif %}>Maine</option>
            <option value="MD" {% if state=='MD' %}selected{% endif %}>Maryland</option>
            <option value="MA" {% if state=='MA' %}selected{% endif %}>Massachusetts</option>
            <option value="MI" {% if state=='MI' %}selected{% endif %}>Michigan</option>
            <option value="MN" {% if state=='MN' %}selected{% endif %}>Minnesota</option>
            <option value="MS" {% if state=='MS' %}selected{% endif %}>Mississippi</option>
            <option value="MO" {% if state=='MO' %}selected{% endif %}>Missouri</option>
            <option value="MT" {% if state=='MT' %}selected{% endif %}>Montana</option>
            <option value="NE" {% if state=='NE' %}selected{% endif %}>Nebraska</option>
            <option value="NV" {% if state=='NV' %}selected{% endif %}>Nevada</option>
            <option value="NH" {% if state=='NH' %}selected{% endif %}>New Hampshire</option>
            <option value="NJ" {% if state=='NJ' %}selected{% endif %}>New Jersey</option>
            <option value="NM" {% if state=='NM' %}selected{% endif %}>New Mexico</option>
            <option value="NY" {% if state=='NY' %}selected{% endif %}>New York</option>
            <option value="NC" {% if state=='NC' %}selected{% endif %}>North Carolina</option>
            <option value="ND" {% if state=='ND' %}selected{% endif %}>North Dakota</option>
            <option value="OH" {% if state=='OH' %}selected{% endif %}>Ohio</option>
            <option value="OK" {% if state=='OK' %}selected{% endif %}>Oklahoma</option>
            <option value="OR" {% if state=='OR' %}selected{% endif %}>Oregon</option>
            <option value="PA" {% if state=='PA' %}selected{% endif %}>Pennsylvania</option>
            <option value="RI" {% if state=='RI' %}selected{% endif %}>Rhode Island</option>
            <option value="SC" {% if state=='SC' %}selected{% endif %}>South Carolina</option>
            <option value="SD" {% if state=='SD' %}selected{% endif %}>South Dakota</option>
            <option value="TN" {% if state=='TN' %}selected{% endif %}>Tennessee</option>
            <option value="TX" {% if state=='TX' %}selected{% endif %}>Texas</option>
            <option value="UT" {% if state=='UT' %}selected{% endif %}>Utah</option>
            <option value="VT" {% if state=='VT' %}selected{% endif %}>Vermont</option>
            <option value="VA" {% if state=='VA' %}selected{% endif %}>Virginia</option>
            <option value="WA" {% if state=='WA' %}selected{% endif %}>Washington</option>
            <option value="WV" {% if state=='WV' %}selected{% endif %}>West Virginia</option>
            <option value="WI" {% if state=='WI' %}selected{% endif %}>Wisconsin</option>
            <option value="WY" {% if state=='WY' %}selected{% endif %}>Wyoming</option>
        </select>

    </div>

    <div>
        <button type="submit" class="btn btn-primary btn-sm">Generate Address</button>
    </div>

</form>

{% if address %}
<h5 class="mt-3">Random Address: {{ address }}</h5>
{% endif %}


{% endblock %}